.banner img{
	width: 100%;
	height: 100%;
	margin-top: 80px;
}
.subtitle{
	width: 1170px;
	height: 50px;
	margin: 0px auto;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ul-left{
	width: 204px;
	height: 30px;
	display: flex;
}
.ul-left li{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.ul-left li a{
	font-size: 14px;
	color: #333;
}
.ul-left li p{
	width: 0px;
	height: 1px;
	background: #09AB6B;
	position: absolute;
	bottom: 0px;
	transition: width 0.51s linear;
}
.ul-left li:hover p{
	width: 80%;
}
.bg-color{
	background: #09AB6B;
}
.bg-color a{
	color: #fff!important;
}
.ul-right{
	width: 275px;
	height: 30px;
	display: flex;
}
.ul-right li{
	font-size: 13px;
	display: flex;
	align-items: center;
	position: relative;
}
.ul-right li a{
	color: #333;
}
.ul-right li a:hover{
	color: #09AB6B;
}
.ul-right .li-1{
	margin-left: 24px;
}
/*文字箭头-双三角覆盖*/
.ul-right li h1{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #999;
	position: absolute;
	left: 64px;
	top: 11px;
	margin: 0px 5px;
}
.ul-right li h2{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #fff;
	position: absolute;
	left: 67px;
	top: 11px;
}
/*内容部分*/
.container-top{
	width: 1070px;
	height: 86px;
	padding: 50px;
	margin: 0px auto;
	margin-top: 20px;
	box-shadow: 0px -5px 5px 2px rgba(0,0,0,0.1);
}
.container-top h1{
	font-size: 24px;
	font-weight: 100;
}
.container-top p{
	font-size: 14px;
	margin-top: 20px;
}
.container-bottom{
	width: 1170px;
	height: 320px;
	margin: 0px auto;
}
.container-bottom h1{
	font-size: 26px;
	font-family: "宋体";
	text-align: center;
	margin-bottom: 11px;
}